<nav class="navbar navbar-expand-lg navbar-dark bg-none dark-theme static-top">
    <div class="container">
        <a class="navbar-brand fw-light" href="/">
            <img src="/images/polaros-bear.png" height="36">
        </a>


        <button class="navbar-toggler border-0 input-outline-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/#featured">Featured</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <% if(user) { %>
                            <li><a class="dropdown-item" href="/users/<%- user.discordId %>">Profile</a></li>
                            <li><a class="dropdown-item" href="/users/<%- user.discordId %>/preferences">Preferences</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="/post-app">Post Application</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        <% } else { %>
                            <li><a class="dropdown-item" href="/login">Login</a></li>
                        <% } %>
                    </ul>
                </li>

                <% if(user && user.polarStore.admin == true) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin Settings
                        </a>
    
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <% if(user) { %>
                                <li><a class="dropdown-item" href="/reports">Review Reports</a></li>
                            <% } %>
                        </ul>
                    </li>
                <% } %>

                <li class="nav-link">
                    <a class="fab fa-discord nav-link" href="https://discord.gg/6CHXe5xJq8"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
    @media (max-width: 991px) {
        .dropdown-menu {background: transparent;}
        .dropdown-menu .dropdown-item {color: white;}
        .dropdown-menu .dropdown-item:hover {background: rgba(52, 83, 255, 0.5);}
    }

    .dropdown-menu {border: none;}
    .dropdown-toggle::after {content: none;}
</style>