<html>
    <%- include('./partials/head.ejs') %>

    <style type="text/css">
        :root {
            --stroke-size-positive: 1px;
            --stroke-size-negative: -1px;
        }

        body {
            background: url("https://wallpapercrafter.com/desktop/229428-dark-clouds-amassing-over-white-ridges-at-the-shor.jpg") no-repeat fixed center;
        }

        .container {
            padding: 50px;
            background-color: white;
            border-radius: 20px;
            border: 2px solid rgb(100, 111, 255);
            padding-bottom: 13px;
        }

        .stroke {
            -webkit-filter: drop-shadow(2px 2px 0 black)
                drop-shadow(-1px 1px 0 black)
                drop-shadow(1px -1px 0 black)
                drop-shadow(-1px -1px 0 black);

            filter: drop-shadow(var(--stroke-size-positive) var(--stroke-size-positive) 0 black)
                    drop-shadow(var(--stroke-size-negative) var(--stroke-size-positive) 0 black)
                    drop-shadow(var(--stroke-size-positive) var(--stroke-size-negative) 0 black)
                    drop-shadow(var(--stroke-size-negative) var(--stroke-size-negative) 0 black);
        }
    </style>

    <body>
        <div class="text-center container position-absolute top-50 start-50 translate-middle" style="max-width: 480px; margin: auto;">
            <img src="/polaros-bear.png" height="50" class="mb-4 text-primary stroke">
            
            <form action="/api/apps/post" method="POST" id="post">
                <h2 class="mb-3 fw-bold text-primary">Post Application</h2>
                <div class="input-group mb-3">
                    <label for="name" class="sr-only"></label>
                    <input type="text" placeholder="Application Name" id="name" name="name" class="form-control" pattern="^[a-zA-Z0-9 ]+$" maxlength="24" required>

                    <label for="version" class="sr-only"></label>
                    <span class="input-group-text" id="basic-addon1">v</span>
                    <input type="text" placeholder="1.0.0" id="version" name="version" class="form-control" pattern="^[0-9.]+$" maxlength="5" required>
                </div>

                <label for="description" class="sr-only"></label>
                <textarea placeholder="Application Description (max. 150)" maxlength="150" id="description" name="description" class="form-control mb-1" style="resize: none;" required></textarea>

                <label for="download" class="sr-only"></label>
                <input type="text" placeholder="Download Link (must be a zip file)" id="download" name="download" class="form-control mb-1" required>

                <label for="icon" class="sr-only"></label>
                <input type="text" placeholder="Banner image link (optional)" id="icon" name="icon" class="form-control mb-1">

                <label for="compatability"></label>

                <select class="form-select mb-1" id="compatability" name="compatability" required>
                    <option value="">Compatible with...</option>
                    <option value="PolarOS">PolarOS</option>
                </select>
                
                <div class="input-group mb-1">
                    <label for="category"></label>

                    <select class="form-select" id="category" name="category" required>
                        <option value="">Select a category...</option>
                        <option value="Gaming">Gaming</option>
                        <option value="Strategy">Strategy</option>
                        <option value="Productivity">Productivity</option>
                        <option value="Utility">Utility</option>
                        <option value="Lifestyle">Lifestyle</option>
                        <option value="Social Media">Social Media</option>
                        <option value="News and Information">News and Information</option>
                        <option value="Other">Other</option>
                    </select>

                    <select class="form-select" id="language" name="language" required>
                        <option value="">Select a language...</option>
                        <option value="English">English</option>
                        <option value="Spanish">Spanish</option>
                        <option value="German">German</option>
                        <option value="Portuguese">Portuguese</option>
                        <option value="Russian">Russian</option>
                        <option value="Japanese">Japanese</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

                <select class="form-select" id="maturityRating" name="maturityRating" required>
                    <option value="">Select a maturity rating...</option>
                    <option value="G">G (Everyone)</option>
                    <option value="PG">PG (7 and up)</option>
                    <option value="PG-13">PG-13 (13 and up)</option>
                    <option value="R">R (18 and up)</option>
                </select>

                <button type="submit" class="btn btn-primary btn-block mt-3">Post App</button>
                <p>or <a href="/">go home</a></p>
            </form>

            <div id="success" style="display: none;">
                <h4 class="mb-3 fw-bold text-primary">Your post has been published!</h4>
                <p>Thank you for using PolarStore. Click <a href="/">here</a> to go back home.</p>
            </div>
        </div>
    </body>
</html>

<% if(success) { %>
    <script>
        $(document).ready(() => {
            $('#post').hide();
            $('#success').show();
        });
    </script>
<% } %>

<script>
    $('#description').charCounter({
        customClass: 'charCounter',
        fontSize: '10px',
        divider: 'dash'
    });
</script>

<style>
    .charCounter {
        text-align: left;
        padding: 5px;
        font-weight: bold;
    }
</style>