:root {
    --light: rgb(255, 255, 255);
    --dark: rgb(25, 25, 25);
    --card-light: rgb(245, 245, 245);
}

body[theme="dark"] {
    --light: rgb(25, 25, 25);
    --card-light: rgb(37, 37, 37);
    --dark: rgb(255, 255, 255);
}

.light {
    color: var(--dark);
    background: var(--dark);
}

.dark {
    color: var(--dark);
    background: var(--light);
}

body {
    background: var(--light);
    color: var(--dark);
}

* p {
    color: var(--dark);
}

.card {
    background-color: var(--card-light);
}

#theme-switch {
    cursor: pointer;
    transition: transform 0.7s;
}

.flip {
    transform: rotate(-360deg) !important;
}

.input-outline-0 {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}