<nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
    <div class="container">
        <a class="navbar-brand fw-light" href="#">
            <img src="/polaros-bear.png" height="36">
        </a>

        <button class="navbar-toggler border-0 input-outline-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#featured">Featured</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/login">Login</a></li>
                        <li><a class="dropdown-item" href="/register">Register</a></li>
                        <li><div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" href="/post-app">Post Application</a></li>
                    </ul>
                </li>

                <li class="nav-link">
                    <i class="fas fa-sun" id="theme-switch"></i>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    $(document).ready(() => {
        if(Cookies.get('theme')) {
            $('body').attr('theme', Cookies.get('theme'));
        }

        $('#theme-switch').on('click', () => {
            $('#theme-switch').toggleClass('flip');
            $('#theme-switch').toggleClass('fa-sun');
            $('#theme-switch').toggleClass('fa-moon');

            if($('body').attr('theme') == 'dark') {
                $('body').attr('theme', 'light');
                $('#theme-text').css('color', 'black');
                Cookies.set('theme', 'light');
            } else {
                $('body').attr('theme', 'dark');
                $('#theme-text').css('color', 'white');
                Cookies.set('theme', 'dark');
            }
        });
    });
</script>